<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Usuários' } %>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Detalhes</h5>
            </div>
            <div class="card-body">
              <div>
                <p>
                  <strong>Frequency:</strong>
                  <%= @attendance.frequency %>
                </p>

                <p>
                  <strong>Class school:</strong>
                  <%= @attendance.class_school_id %>
                </p>

                <p>
                  <strong>Student:</strong>
                  <%= @attendance.student_id %>
                </p>
              </div>
              <%= link_to 'Voltar', admin_class_schools_path, class: 'btn btn-primary'%> 
              <%#= link_to 'Edit', edit_attendance_path(@attendance) %> |
              <%#= link_to 'Back', attendances_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

