<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Estudantes' } %>

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Listagem</h5>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Fone</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Turma</th>
                  </tr>
                </thead>
                <tbody>
                  <% @students.each do |student| %>
                  <tr>
                    <th scope="row"><%= student.id %></th>
                    <td><%= student.name %></td>
                    <td><%= student.address %></td>
                    <td><%= student.phone %></td>
                    <td><%= student.birthday %></td>
                    <td><%= student.user.email %></td>
                    <td><%= student.class_school.name %></td>
                    <td><%= link_to 'Show', admin_student_path(student), class: 'btn btn-warning'  %></td>
                    <td><%= link_to 'Edit', edit_admin_student_path(student), class: 'btn btn-primary' %></td>
                    <td><%= link_to 'Destroy', admin_student_path(student), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <%= link_to 'Novo', new_admin_student_path, class: 'btn btn-primary'%>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
